<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.ResumeMapper">

	<select id="getResumeCount" resultType="java.lang.Integer">
		select count(*) from resume
	</select>
	
	<select id="getResumeMaxNum" resultType="java.lang.Integer">
		select max(r_num) from resume
	</select>

	<!-- limit 시작행-1,개수 -->
	<select id="getResumeBoardList" resultType="com.itwillbs.domain.ResumeDTO">
		select r.*, m.name, m.matching from resume r join member m
		on r.id = m.id
		<if test="search != null">
			<if test="select == 'r_name'">
			where r_name like CONCAT('%',#{search},'%')
			</if>
			<if test="select == 'r_content'">
			where r_content like CONCAT('%',#{search},'%')
			</if>
			<if test="select == 'name123'">
			where m.name like CONCAT('%',#{search},'%') 
			</if>
		</if>
		order by r.r_num desc
		limit #{startRow},#{pageSize}
	</select>
	
	<select id="getResumeBoardCount" resultType="java.lang.Integer">
		select count(r.r_num) from resume r join member m
		on r.id = m.id
		<if test="search != null">
			<if test="select == 'r_name'">
			where r_name like CONCAT('%',#{search},'%')
			</if>
			<if test="select == 'r_content'">
			where r_content like CONCAT('%',#{search},'%')
			</if>
			<if test="select == 'name123'">
			where m.name like CONCAT('%',#{search},'%') 
			</if>
		</if>
	</select>
	
	<select id="getResumeBoard" resultType="com.itwillbs.domain.ResumeDTO">
		select * from resume
		where r_num = #{r_num}
	</select>
	
	
</mapper>