<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace="com.itwillbs.mappers.boardMapper" 
       => boardMapper 파일 => xml 파일이름 -->
<mapper namespace="com.itwillbs.mappers.ResumeMapper">

	<select id="getResumeCount" resultType="java.lang.Integer">
		select count(*) from resume
	</select>
	
	<select id="getResume" resultType="com.itwillbs.domain.ResumeDTO"> select r.*, f.field from resume r join field f on r.field_num = f.field_num join region rg on r.region_num = rg.region_num where r.r_num = #{r_num} 
	</select>
	
<select id="getMember" resultType="com.itwillbs.domain.MemberDTO"> select m.* from member m join resume r on m.id = r.id where r.r_num = #{r_num} 
</select>




	
	
	
</mapper>


